/*
1000px grid system ~ Core CSS.
50 Columns ~ Margin left: 5px ~ Margin right: 5px

Based on the 960.gs grid system - http://960.gs/
by Nathan Smith

Created by the Grid System Generator - v1.04
Learn more ~ http://www.gridsystemgenerator.com/
*/

/*
Forces backgrounds to span full width,
even if there is horizontal scrolling.
Increase this if your layout is wider.

Note: IE6 works fine without this fix.
*/
body {
	min-width: 960px;
}

/* =Containers
--------------------------------------------------------------------------------*/
.container-50
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}

/* =Grid >> Global
--------------------------------------------------------------------------------*/
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16,
.grid-17,
.grid-18,
.grid-19,
.grid-20,
.grid-21,
.grid-22,
.grid-23,
.grid-24,
.grid-25,
.grid-26,
.grid-27,
.grid-28,
.grid-29,
.grid-30,
.grid-31,
.grid-32,
.grid-33,
.grid-34,
.grid-35,
.grid-36,
.grid-37,
.grid-38,
.grid-39,
.grid-40,
.grid-41,
.grid-42,
.grid-43,
.grid-44,
.grid-45,
.grid-46,
.grid-47,
.grid-48,
.grid-49,
.grid-50 {
	display: inline;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}

.push-1, .pull-1,
.push-2, .pull-2,
.push-3, .pull-3,
.push-4, .pull-4,
.push-5, .pull-5,
.push-6, .pull-6,
.push-7, .pull-7,
.push-8, .pull-8,
.push-9, .pull-9,
.push-10, .pull-10,
.push-11, .pull-11,
.push-12, .pull-12,
.push-13, .pull-13,
.push-14, .pull-14,
.push-15, .pull-15,
.push-16, .pull-16,
.push-17, .pull-17,
.push-18, .pull-18,
.push-19, .pull-19,
.push-20, .pull-20,
.push-21, .pull-21,
.push-22, .pull-22,
.push-23, .pull-23,
.push-24, .pull-24,
.push-25, .pull-25,
.push-26, .pull-26,
.push-27, .pull-27,
.push-28, .pull-28,
.push-29, .pull-29,
.push-30, .pull-30,
.push-31, .pull-31,
.push-32, .pull-32,
.push-33, .pull-33,
.push-34, .pull-34,
.push-35, .pull-35,
.push-36, .pull-36,
.push-37, .pull-37,
.push-38, .pull-38,
.push-39, .pull-39,
.push-40, .pull-40,
.push-41, .pull-41,
.push-42, .pull-42,
.push-43, .pull-43,
.push-44, .pull-44,
.push-45, .pull-45,
.push-46, .pull-46,
.push-47, .pull-47,
.push-48, .pull-48,
.push-49, .pull-49 {
	position: relative;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
.alpha {margin-left: 0;}
.omega {margin-right: 0;}

/* =Grid >> 50 Columns
--------------------------------------------------------------------------------*/
.container-50 .grid-1 {width: 10px;}
.container-50 .grid-2 {width: 30px;}
.container-50 .grid-3 {width: 50px;}
.container-50 .grid-4 {width: 70px;}
.container-50 .grid-5 {width: 90px;}
.container-50 .grid-6 {width: 110px;}
.container-50 .grid-7 {width: 130px;}
.container-50 .grid-8 {width: 150px;}
.container-50 .grid-9 {width: 170px;}
.container-50 .grid-10 {width: 190px;}
.container-50 .grid-11 {width: 210px;}
.container-50 .grid-12 {width: 230px;}
.container-50 .grid-13 {width: 250px;}
.container-50 .grid-14 {width: 270px;}
.container-50 .grid-15 {width: 290px;}
.container-50 .grid-16 {width: 310px;}
.container-50 .grid-17 {width: 330px;}
.container-50 .grid-18 {width: 350px;}
.container-50 .grid-19 {width: 370px;}
.container-50 .grid-20 {width: 390px;}
.container-50 .grid-21 {width: 410px;}
.container-50 .grid-22 {width: 430px;}
.container-50 .grid-23 {width: 450px;}
.container-50 .grid-24 {width: 470px;}
.container-50 .grid-25 {width: 490px;}
.container-50 .grid-26 {width: 510px;}
.container-50 .grid-27 {width: 530px;}
.container-50 .grid-28 {width: 550px;}
.container-50 .grid-29 {width: 570px;}
.container-50 .grid-30 {width: 590px;}
.container-50 .grid-31 {width: 610px;}
.container-50 .grid-32 {width: 630px;}
.container-50 .grid-33 {width: 650px;}
.container-50 .grid-34 {width: 670px;}
.container-50 .grid-35 {width: 690px;}
.container-50 .grid-36 {width: 710px;}
.container-50 .grid-37 {width: 730px;}
.container-50 .grid-38 {width: 750px;}
.container-50 .grid-39 {width: 770px;}
.container-50 .grid-40 {width: 790px;}
.container-50 .grid-41 {width: 810px;}
.container-50 .grid-42 {width: 830px;}
.container-50 .grid-43 {width: 850px;}
.container-50 .grid-44 {width: 870px;}
.container-50 .grid-45 {width: 890px;}
.container-50 .grid-46 {width: 910px;}
.container-50 .grid-47 {width: 930px;}
.container-50 .grid-48 {width: 950px;}
.container-50 .grid-49 {width: 970px;}
.container-50 .grid-50 {width: 990px;}

/* =Prefix Extra Space >> 50 Columns
--------------------------------------------------------------------------------*/
.container-50 .prefix-1 {padding-left: 20px;}
.container-50 .prefix-2 {padding-left: 40px;}
.container-50 .prefix-3 {padding-left: 60px;}
.container-50 .prefix-4 {padding-left: 80px;}
.container-50 .prefix-5 {padding-left: 100px;}
.container-50 .prefix-6 {padding-left: 120px;}
.container-50 .prefix-7 {padding-left: 140px;}
.container-50 .prefix-8 {padding-left: 160px;}
.container-50 .prefix-9 {padding-left: 180px;}
.container-50 .prefix-10 {padding-left: 200px;}
.container-50 .prefix-11 {padding-left: 220px;}
.container-50 .prefix-12 {padding-left: 240px;}
.container-50 .prefix-13 {padding-left: 260px;}
.container-50 .prefix-14 {padding-left: 280px;}
.container-50 .prefix-15 {padding-left: 300px;}
.container-50 .prefix-16 {padding-left: 320px;}
.container-50 .prefix-17 {padding-left: 340px;}
.container-50 .prefix-18 {padding-left: 360px;}
.container-50 .prefix-19 {padding-left: 380px;}
.container-50 .prefix-20 {padding-left: 400px;}
.container-50 .prefix-21 {padding-left: 420px;}
.container-50 .prefix-22 {padding-left: 440px;}
.container-50 .prefix-23 {padding-left: 460px;}
.container-50 .prefix-24 {padding-left: 480px;}
.container-50 .prefix-25 {padding-left: 500px;}
.container-50 .prefix-26 {padding-left: 520px;}
.container-50 .prefix-27 {padding-left: 540px;}
.container-50 .prefix-28 {padding-left: 560px;}
.container-50 .prefix-29 {padding-left: 580px;}
.container-50 .prefix-30 {padding-left: 600px;}
.container-50 .prefix-31 {padding-left: 620px;}
.container-50 .prefix-32 {padding-left: 640px;}
.container-50 .prefix-33 {padding-left: 660px;}
.container-50 .prefix-34 {padding-left: 680px;}
.container-50 .prefix-35 {padding-left: 700px;}
.container-50 .prefix-36 {padding-left: 720px;}
.container-50 .prefix-37 {padding-left: 740px;}
.container-50 .prefix-38 {padding-left: 760px;}
.container-50 .prefix-39 {padding-left: 780px;}
.container-50 .prefix-40 {padding-left: 800px;}
.container-50 .prefix-41 {padding-left: 820px;}
.container-50 .prefix-42 {padding-left: 840px;}
.container-50 .prefix-43 {padding-left: 860px;}
.container-50 .prefix-44 {padding-left: 880px;}
.container-50 .prefix-45 {padding-left: 900px;}
.container-50 .prefix-46 {padding-left: 920px;}
.container-50 .prefix-47 {padding-left: 940px;}
.container-50 .prefix-48 {padding-left: 960px;}
.container-50 .prefix-49 {padding-left: 980px;}

/* =Suffix Extra Space >> 50 Columns
--------------------------------------------------------------------------------*/
.container-50 .suffix-1 {padding-right: 20px;}
.container-50 .suffix-2 {padding-right: 40px;}
.container-50 .suffix-3 {padding-right: 60px;}
.container-50 .suffix-4 {padding-right: 80px;}
.container-50 .suffix-5 {padding-right: 100px;}
.container-50 .suffix-6 {padding-right: 120px;}
.container-50 .suffix-7 {padding-right: 140px;}
.container-50 .suffix-8 {padding-right: 160px;}
.container-50 .suffix-9 {padding-right: 180px;}
.container-50 .suffix-10 {padding-right: 200px;}
.container-50 .suffix-11 {padding-right: 220px;}
.container-50 .suffix-12 {padding-right: 240px;}
.container-50 .suffix-13 {padding-right: 260px;}
.container-50 .suffix-14 {padding-right: 280px;}
.container-50 .suffix-15 {padding-right: 300px;}
.container-50 .suffix-16 {padding-right: 320px;}
.container-50 .suffix-17 {padding-right: 340px;}
.container-50 .suffix-18 {padding-right: 360px;}
.container-50 .suffix-19 {padding-right: 380px;}
.container-50 .suffix-20 {padding-right: 400px;}
.container-50 .suffix-21 {padding-right: 420px;}
.container-50 .suffix-22 {padding-right: 440px;}
.container-50 .suffix-23 {padding-right: 460px;}
.container-50 .suffix-24 {padding-right: 480px;}
.container-50 .suffix-25 {padding-right: 500px;}
.container-50 .suffix-26 {padding-right: 520px;}
.container-50 .suffix-27 {padding-right: 540px;}
.container-50 .suffix-28 {padding-right: 560px;}
.container-50 .suffix-29 {padding-right: 580px;}
.container-50 .suffix-30 {padding-right: 600px;}
.container-50 .suffix-31 {padding-right: 620px;}
.container-50 .suffix-32 {padding-right: 640px;}
.container-50 .suffix-33 {padding-right: 660px;}
.container-50 .suffix-34 {padding-right: 680px;}
.container-50 .suffix-35 {padding-right: 700px;}
.container-50 .suffix-36 {padding-right: 720px;}
.container-50 .suffix-37 {padding-right: 740px;}
.container-50 .suffix-38 {padding-right: 760px;}
.container-50 .suffix-39 {padding-right: 780px;}
.container-50 .suffix-40 {padding-right: 800px;}
.container-50 .suffix-41 {padding-right: 820px;}
.container-50 .suffix-42 {padding-right: 840px;}
.container-50 .suffix-43 {padding-right: 860px;}
.container-50 .suffix-44 {padding-right: 880px;}
.container-50 .suffix-45 {padding-right: 900px;}
.container-50 .suffix-46 {padding-right: 920px;}
.container-50 .suffix-47 {padding-right: 940px;}
.container-50 .suffix-48 {padding-right: 960px;}
.container-50 .suffix-49 {padding-right: 980px;}

/* `Push Space >> 50 Columns
--------------------------------------------------------------------------------*/
.container-50 .push-1 {left: 20px;}
.container-50 .push-2 {left: 40px;}
.container-50 .push-3 {left: 60px;}
.container-50 .push-4 {left: 80px;}
.container-50 .push-5 {left: 100px;}
.container-50 .push-6 {left: 120px;}
.container-50 .push-7 {left: 140px;}
.container-50 .push-8 {left: 160px;}
.container-50 .push-9 {left: 180px;}
.container-50 .push-10 {left: 200px;}
.container-50 .push-11 {left: 220px;}
.container-50 .push-12 {left: 240px;}
.container-50 .push-13 {left: 260px;}
.container-50 .push-14 {left: 280px;}
.container-50 .push-15 {left: 300px;}
.container-50 .push-16 {left: 320px;}
.container-50 .push-17 {left: 340px;}
.container-50 .push-18 {left: 360px;}
.container-50 .push-19 {left: 380px;}
.container-50 .push-20 {left: 400px;}
.container-50 .push-21 {left: 420px;}
.container-50 .push-22 {left: 440px;}
.container-50 .push-23 {left: 460px;}
.container-50 .push-24 {left: 480px;}
.container-50 .push-25 {left: 500px;}
.container-50 .push-26 {left: 520px;}
.container-50 .push-27 {left: 540px;}
.container-50 .push-28 {left: 560px;}
.container-50 .push-29 {left: 580px;}
.container-50 .push-30 {left: 600px;}
.container-50 .push-31 {left: 620px;}
.container-50 .push-32 {left: 640px;}
.container-50 .push-33 {left: 660px;}
.container-50 .push-34 {left: 680px;}
.container-50 .push-35 {left: 700px;}
.container-50 .push-36 {left: 720px;}
.container-50 .push-37 {left: 740px;}
.container-50 .push-38 {left: 760px;}
.container-50 .push-39 {left: 780px;}
.container-50 .push-40 {left: 800px;}
.container-50 .push-41 {left: 820px;}
.container-50 .push-42 {left: 840px;}
.container-50 .push-43 {left: 860px;}
.container-50 .push-44 {left: 880px;}
.container-50 .push-45 {left: 900px;}
.container-50 .push-46 {left: 920px;}
.container-50 .push-47 {left: 940px;}
.container-50 .push-48 {left: 960px;}
.container-50 .push-49 {left: 980px;}

/* `Pull Space >> 50 Columns
--------------------------------------------------------------------------------*/
.container-50 .pull-1 {left: -20px;}
.container-50 .pull-2 {left: -40px;}
.container-50 .pull-3 {left: -60px;}
.container-50 .pull-4 {left: -80px;}
.container-50 .pull-5 {left: -100px;}
.container-50 .pull-6 {left: -120px;}
.container-50 .pull-7 {left: -140px;}
.container-50 .pull-8 {left: -160px;}
.container-50 .pull-9 {left: -180px;}
.container-50 .pull-10 {left: -200px;}
.container-50 .pull-11 {left: -220px;}
.container-50 .pull-12 {left: -240px;}
.container-50 .pull-13 {left: -260px;}
.container-50 .pull-14 {left: -280px;}
.container-50 .pull-15 {left: -300px;}
.container-50 .pull-16 {left: -320px;}
.container-50 .pull-17 {left: -340px;}
.container-50 .pull-18 {left: -360px;}
.container-50 .pull-19 {left: -380px;}
.container-50 .pull-20 {left: -400px;}
.container-50 .pull-21 {left: -420px;}
.container-50 .pull-22 {left: -440px;}
.container-50 .pull-23 {left: -460px;}
.container-50 .pull-24 {left: -480px;}
.container-50 .pull-25 {left: -500px;}
.container-50 .pull-26 {left: -520px;}
.container-50 .pull-27 {left: -540px;}
.container-50 .pull-28 {left: -560px;}
.container-50 .pull-29 {left: -580px;}
.container-50 .pull-30 {left: -600px;}
.container-50 .pull-31 {left: -620px;}
.container-50 .pull-32 {left: -640px;}
.container-50 .pull-33 {left: -660px;}
.container-50 .pull-34 {left: -680px;}
.container-50 .pull-35 {left: -700px;}
.container-50 .pull-36 {left: -720px;}
.container-50 .pull-37 {left: -740px;}
.container-50 .pull-38 {left: -760px;}
.container-50 .pull-39 {left: -780px;}
.container-50 .pull-40 {left: -800px;}
.container-50 .pull-41 {left: -820px;}
.container-50 .pull-42 {left: -840px;}
.container-50 .pull-43 {left: -860px;}
.container-50 .pull-44 {left: -880px;}
.container-50 .pull-45 {left: -900px;}
.container-50 .pull-46 {left: -920px;}
.container-50 .pull-47 {left: -940px;}
.container-50 .pull-48 {left: -960px;}
.container-50 .pull-49 {left: -980px;}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after {
	content: "\0020";
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
}
/*
The following zoom:1 rule is specifically for IE6 + IE7.
Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix {
	zoom: 1;
}
